.hero-section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.hero-section-container{
    display: flex;
    border-radius: 400px
}
.hero-image{
    width: 200;
    height: 300px;
    border-radius:1000px;
}

.hero-section-content-top{
    font-size: 3rem;
    color: #fff;
    font-weight: 100;
}
.hero-section-content-left a{
    color: #fff;
}