/*education section*/
#education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 0 100px 0;
}

/* education heading */
.education-heading{
    font-size: 2.5em;
    color: rgba(65,47,144,.93);
}

/* education container */
.education-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 80px;
}

/* education detail (e.g individual education) */
.education-detail{
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
}

/* Individual education name */
.education-name{
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 0 auto;
}

/* Education session (e.g 2020-2023) */
.education-session{
    display: block;
    font-size:0.7em;
    font-weight: 200;
    font-family: serif;
    margin-top: 10px;
}

/* Education degree (e.g B.Tech) */
.education-degree{
    font-size: 0.8em;
    font-weight: 900;
    margin-bottom: 0;
}

/* Education name description */
.education-name-description{
    font-size: 1em;
    font-weight: 100;
    font-family: system-ui;
    margin-top: 0;
}