/* Header container (contains logo, nav items, and get cv button) */
.header-container{
    width: 100%;
    /* height: fit-content; */
}

/* Logo image container */
.logo-container{
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
}

/* Logo image link (navigate to homepage) */
.logo-container a{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Logo image  */
.logo-container .logo-img{
    width: 100%;
    height: 100%;
    opacity: 0.70;
}

/* Nav items container */
.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin-top: 6px;
}

/* Nav items unordered list */
.nav-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    color: #fff;
}

/* nav items hover effect */
.nav-items:hover{
    cursor: pointer;
}


/* Resume button container */
.resume-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
}

/* Resume button */
.resume-btn{
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: smaller;
    transition: background-color 0.5s ease-in-out;
    color: #000;
}

/* Resume button hover effect */
.resume-btn:hover{
    background-color: rgb(55 32 111 / 93%);
    
    color: #fff;
}