.header-container{
    width: 100%;
    /* height: fit-content; */
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo-container .logo-img{
    width: 100px;
    height: 40px;
    opacity: 0.70;
}

.nav-items ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 50px;
    color: #fff;
}

.resume-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-btn{
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: smaller;
}

.resume-btn:hover{
    background-color: #35383c;
    transition: 0.5s ease-in;
    color: #fff;
}