#skills{
    display: flex;
    justify-content: space-between;
}
.skills-container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.skills-container .skill{
    border: 2px solid green;
    border-radius: 1rem;
    /* width: 20%; */
    /* position: absolute; */
    width: 30%;
    display: inline-block;
}
.other-skills{
    
}



