#skills{
    gap: 10px;
    padding: 0 20px;
    flex-wrap: wrap;
}
.main-skills, .other-skills{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem;
    flex: 0.5;
    min-width: 251px;
    min-height: 220px;
    
}
.skills-container{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.skills-container .skill{
    /* border: 2px solid green; */
    /* border-radius: 1rem; */
}

.main-skills, .other-skills h3{
    color: rgba(65,47,144,.93);
    font-family: fangsong;
}


.skill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 33.33%;
}


@media(min-width : 0px) and (max-width : 1320px){
    .main-skills{
        flex: 1;
    }
    .other-skills{
        flex: 1;
    }
}


