#skills{
    display: flex;
    gap: 2rem;
}
.main-skills, .other-skills{
    border: 2px solid black;
    border-radius: 2rem;
    padding: 1rem;
    min-width: 300px;
    min-height: 270px;
}
.skills-container{
    width: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,1fr);
}

.skills-container .skill{
    border: 2px solid green;
    border-radius: 1rem;
}

.main-skills, .other-skills h3{
    color: rgba(65,47,144,.93);
    font-family: fangsong;
}



