.main{
    background-image: url(./assets/background.jpg);
    background-size: cover;
    background-position: center center;
    height: 700px;
    opacity: 1;
}

.main-container{
    background-color: rgba(65,47,144,.93);
    width: 100%;
    height: 100%;
    opacity:0.9;
}

.content-container{
    position:absolute;
    top:0;
    width: 100%;
    display: flex;
    flex-direction: column;
}